/*style.css*/

body {
  font-family: sans-serif;
}

.header, .footer {
  background-color: #1F2937;
}

.header {
  display: flex;
  padding: 10px 200px 125px 200px;
  flex-direction: column;
  align-items: space-between;
}

.top-row {
  margin-bottom: 100px;
  display: flex;
  align-items: center;

  gap: 16px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}

a {
  text-decoration: none;
  color: #F9FAF8;
  margin: 0px;
}

.insert {
  display: flex;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  flex: 1;
  
}

.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
  flex: 1;
}

h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bold;
  margin: 0px 0px 5px 0px; 
}

.insert-text {
  margin-bottom: 5px;
}

button {
  color: #F9FAF8;
  background-color: #3882F6;
  padding: 7px 30px 7px 30px;
  border: none;
  border-radius: 5px;
}

.img-container {
  background-color: #6e6f78;
  color: #E5E7EB;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

img {
  padding: 10px;
}

.text {
  color: #E5E7EB;
  font-size: 18px;
}



h2 {
  color: #1F2937;
  font-size: 36px;
  font-weight: bold;
}

.quote {
  background-color: #E5E7EB;
}

blockquote {
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
}

.footer {
  color: #E5E7EB;
  font-size: 18px;
}

